<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/games']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header id="header">
    <mat-card-title><h2>Team: {{game.team}}</h2></mat-card-title>
    <mat-card-subtitle>Organizer: {{game.organizer}}</mat-card-subtitle>
  </mat-card-header>
  <div id="container">
    <div id="left"><mat-card-content>
      <dl>
        <dt>Game Name:</dt>
        <dd>{{game.game_name}}</dd>
        <dt>Team:</dt>
        <dd>{{game.team}}</dd>
        <dt>Game Organizer:</dt>
        <dd>{{game.organizer}}</dd>
        <dt>Game Location:</dt>
        <dd>{{game.game_loc}}</dd>
        <dt>Game Date:</dt>
        <dd>{{game.game_date | date}}</dd>
        <dt>Game Time:</dt>
        <dd>{{game.game_time}}</dd>
        <dt>Game Duration:</dt>
        <dd>{{game.game_duration}}</dd>
        <dt>Contact Organizer:</dt>
        <dd>{{game.contact_org}}</dd>
        <dt>Registered Player:</dt>
        <dd>{{game.player_info?.length}}</dd>
        <dt>Required Number of Player:</dt>
        <dd>{{game.req_player_num}}</dd>
        <dt>Open spots:</dt>
        <dd>{{game.req_player_num - game.player_info?.length}}</dd>
        <dt>Registered Players are:</dt>
        <p *ngFor= "let email of game.player_info">{{email}}</p>
      </dl>
    </mat-card-content>
    </div>
    <div id="right">
      <p>
      <h2>{{weatherData.name}}'s current weather.</h2>
      <p *ngIf="showWeatherDtl">
        Today: {{timeConverter(weatherData.dt)}}
        <img class="img-thumbnail forecast-img" src="http://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png" />
      </p>
    </div>
    <div id="center"><div>
      <button *ngIf="!showWeatherDtl" (click)="showWeatherForecast()">Show weather</button>
      <div  *ngIf="showWeatherDtl">
      <h3>7 days Weather Forecast <br> for <br>{{weatherForcast.city.name}}.</h3>
      <div class="row">
        <p *ngFor= "let data of weatherForcast.list">
          Date: {{timeConverter(data.dt)}}<br>
          <img class="img-thumbnail forecast-img" src="http://openweathermap.org/img/w/{{data.weather[0].icon}}.png" />
        </p>
      </div>
    </div>
    </div>
    </div>
  </div>
  <mat-card-actions id="footer" align="center">
    <a mat-raised-button color="primary" [routerLink]="['/game-edit', game._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteGame(game._id)"><mat-icon>delete</mat-icon></a>
    <a mat-raised-button color="warn" (click)="enrollInToGame(game._id)">Enroll</a>
  </mat-card-actions>
</mat-card>

