extends ../layout

block content
  div.form-position
    form(action="/log" method="Post")
        h3 Log In
        input(type="mail" placeholder=" Mail"  name="mail" value="" autofocus)
        input(type="password" placeholder=" Password" value="" name="password")
        button submit
    
